<script src="https://cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script>

    AV.init({
        appId: '{{site.Leancloud.appId}}',
        appKey: '{{site.Leancloud.appKey}}',
        serverURL: '{{site.Leancloud.serverURL}}',
    });

    const visitors_record = AV.Object.extend('visitors_record');
    const visitors = new visitors_record();

    /* function getUserIP() {
         return new Promise(function (resolve, reject) {
             $.getJSON("https://api.ipify.org?format=json", function (data) {
                 resolve(data.ip);
             });
         });
     }
 
     getUserIP().then(function (ipAddress) {
         visitors.set('visitor_ip', ipAddress);
         visitors.set('visited_url', currentUrl);
 
         visitors.save().then(
             (visitors) => {
                 console.log(`保存成功。objectId：${visitors.id}`);
                 console.log(ipAddress, currentUrl);
             },
             (error) => {
                 console.log(error);
             }
         );
     });
     */

    function getUserLocation() {
        return new Promise(function (resolve, reject) {
            $.getJSON("https://2024.ipchaxun.com/", function (data) {
                resolve(data);
            });
        });
    }

    getUserLocation().then(function (locationData) {
        if (AV.User.current() == null || AV.User.current().get('username') != 'JoCruise') {
            var currentUrl = window.location.href;
            var ip = locationData.ip;
            var country = locationData.data[0];
            var province = locationData.data[1];
            var city = locationData.data[2];
            var district = locationData.data[3];
            var isp = locationData.data[4];

            visitors.set('visitor_ip', ip);
            visitors.set('visited_url', currentUrl);
            visitors.set('visitor_country', country);
            visitors.set('visitor_province', province);
            visitors.set('visitor_city', city);
            visitors.set('visitor_district', district);
            visitors.set('visitor_isp', isp);


            visitors.save().then(
                (visitors) => {
                    console.log(`保存成功。objectId：${visitors.id}`);
                    /* console.log(ipAddress, currentUrl); */
                },
                (error) => {
                    console.log(error);
                }
            );
        }

    });

    /* visitors.set('visited_url', currentUrl); */
    /* visitors.set('visitor_ip', ip); */

    /* visitors.save().then(
        (visitors) => {
            console.log(`保存成功。objectId：${visitors.id}`);
            console.log(ip, currentUrl);
        },
        (error) => {
            console.log(error);
        }
    ) */

</script>